<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-info btn-lg"><a href="/createBlog">+ Create New Post</a></button>
</div>
<div class="border border-secondary overflow-auto">
    {{!-- past blogs here --}}
    {{!-- create card here --}}
    {{!-- use #each `variable` --}}
</div>