<div class="border border-secondary overflow-auto">
    <p>homepage</p>
    {{#each posts}}
        <div class="card">
            <div class="card-header">
                <a href="/">{{name}}</a>
                posted by {{username}} on {{date}}
            </div>
        </div>
    {{/each}}
</div>